body {
  text-align: center;
  margin: 30px;
}
a {
  color: #662eed;
}
h1 {
  font-size: 80px;
  margin: 0;
}
p {
  font-size: 25px;
  color: #404040;
  margin: 0;
}
.paragraphs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
span {
  background-color: #ebebeb;
  border-radius: 5px;
  width: 380px;
  padding: 15px 20px;
  margin: 10px;
  text-align: center;
}
h2 {
  font-size: 45px;
  margin: 20px;
}
.mail {
  text-decoration: none;
  font-size: 25px;
}
